@use '../../styles/_mixins' as *;

.pageShell {
  display: flex;
  flex-direction: column;

  min-height: 100dvh;
  padding: 1rem 3rem;

  @include tablet {
    padding: 0 0.5rem;
  }
}

.pageLayout {
  display: flex;
  flex: 1;
  flex-direction: column;

  width: 100%;
  padding: 1rem 2rem;

  &__inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1,5rem;


  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0 3rem 0;
  }

  &__innerCentered {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}