@use '../../styles/_variables' as *;
@use '../../styles/_mixins' as *;

.genreTabs {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding: 2rem 0;

  @include mobile {
    gap: 2rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    list-style: none;

    @include mobile {
    gap: 0.8rem;
  }

  }

  &__button {
    display: flex;
    gap: 0.5rem;

    background-color: $primary-color;
    box-shadow: $shadow-medium;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;

    font-size: $font-size-p;
    font-weight: 700;
    letter-spacing: 5%;
  }

  &__buttonActive {
    background-color: $secondary-color;
    color: $text-secondary-color;
  }
}
