@use "../../../styles/variables" as *;

.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  max-width: 100%;

  margin: 0;
  padding: 0.45rem 0.8rem;

  align-self: flex-start;

  background-color: $secondary-color;
  color: $text-secondary-color;
  box-shadow: $shadow-soft;
  border: 0;
  border-radius: 0.4rem;

  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.04em;
  text-decoration: none;
  white-space: nowrap;

  cursor: pointer;

  &:hover {
    background-color: $text-secondary-color;
    color: $secondary-color;
  }

  &--small {
    padding: 0.4rem 2rem;
    font-size: 0.75rem;
  }

  &--medium {
    padding: 0.55rem 1.2rem;
    font-size: 0.875rem;
  }

  &--fullWidth {
    width: 100%;
    align-self: stretch;
  }
}