@use "../../../styles/variables" as *;

.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 0.7rem 2rem;

  background-color: $secondary-color;
  color: $text-secondary-color;
  box-shadow: $shadow-soft;
  border: 0;
  border-radius: 1rem;

  font-weight: 700;
  cursor: pointer;

  &--small {
    padding: 0.4rem 2rem;
    font-size: 0.75rem;
  }

  &--medium {
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    width: 20%;
    font-size: 1rem;
  }

  &--large {
    min-height: 3.5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }

  &--fullWidth {
    width: 100%;
    font-size: 1.5rem;
    align-self: stretch;
  }
}