@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.loanCard {
  width: 300px;
  padding: 3rem;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    h3{
      display: flex;
      align-items: flex-end;
    }
  }

  &__imgWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    height: 250px;
    padding-bottom: 1rem;

    box-shadow: $shadow-medium;
  }

  &__img {
    height: 100%;
    object-fit: contain;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    @include mobile {
      align-items: center;
    }
  }
}