/*////////////////////////
    Table of Contents
    1. Colors
    2. Typography
///////////////////////////////*/


/* ------------------------------- 1. Colors -------------------------------- */

$background-color: #FAF6F1;
$text-primary-color: #5E4237;
$text-secondary-color: #FFFFFF;

$primary-color: #FFFFFF;
$secondary-color: #E46F20;
$accent-color: #FDEBB3;

$warning-color: #F04343;
$success-color: #B8EA72;

$gradient-start: #FAF6F1;
$gradient-mid-1: #FDEBB3;
$gradient-mid-2: #FDE9A3;
$gradient-end: #FFE689;

$shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.08);
$shadow-medium: 0 6px 20px rgba(0, 0, 0, 0.12);

//background: linear-gradient(
//90deg,
//$gradient-start 20%,
//$gradient-mid-1 73%,
//$gradient-mid-2 93%,
//$gradient-end 100%
//);

/* ------------------------------- 2. Typography -----------------------------------  */

$font-heading: 'Fraunces', serif;
$font-body: 'DM Sans', sans-serif;

$font-size-h1: 2.25rem; // 36px
$font-size-h2: 1.5rem;  // 24px
$font-size-h3: 1rem;    // 16px
$font-size-h5: 0.625rem; // 10px
$font-size-p: 0.75rem;   // 12px