/*////////////////////////
    Table of Contents
    1. Colors
    2. Typography
///////////////////////////////*/


/* ------------------------------- 1. Colors -------------------------------- */

$background-color: #FAF6F1;
$text-primary-color: #5E4237;
$text-secondary-color: #FFFFFF;

$primary-color: #FFFFFF;
$secondary-color: #E46F20;
$accent-color: #FDEBB3;

$warning-color: #F04343;
$success-color: #B8EA72;

/* ------------------------------- 2. Typography -----------------------------------  */

$font-heading: 'Fraunces', serif;
$font-body: 'DM Sans', sans-serif;

$font-size-h1: 2.25rem; // 36px
$font-size-h2: 1.5rem;  // 24px
$font-size-h3: 1rem;    // 16px
$font-size-h5: 0.625rem; // 10px
$font-size-p: 0.75rem;   // 12px