@use "../../styles/mixins" as *;

.bookCardGrid {
  padding: 2rem 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;

    @include mobile {
      justify-content: center;
    }
  }
}