@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__welcomeImg {
    width: 70px;
    align-items: center;
  }

  &__loanStatus {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 3rem;

    padding: 2rem 4rem 2rem 2.5rem;
    border-radius: 15px;
    box-shadow: $shadow-soft;
    background-color: $primary-color;

    > :last-child {
      margin-left: auto;
      align-self: center;
    }

     @include mobile {
        flex-direction: column;

       > :last-child {
         margin: 0;
       }
      }

    img {
      flex: 0 1 6rem;
    }
  }

  &__loanNumber {
    font-size: 4rem;
  }
  &__loanDetails {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__loanTextWrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    gap: 0.5rem;
  }
}