@use "../../styles/mixins" as *;

.newestCardsGrid {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    list-style: none;

    @include tablet {
      flex-wrap: wrap;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  &__item {
    display: flex;
    justify-content: center;

    width: 100%;
    min-width: 0;
  }
}