@use '../../styles/_variables' as *;
@use '../../styles/_mixins' as *;


.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;

  min-height: 100vh;
  width: 300px;
  padding: 2rem 3rem;

  background-color: $accent-color;

  font-size: 1.125rem;

  @include mobile {
    width: 100%;
    min-height: auto;
    padding: 0;
    gap: 0;
    flex: 0;

    background: linear-gradient(
                    180deg,
                    $gradient-start 20%,
                    $gradient-mid-1 73%,
                    $gradient-mid-2 93%,
                    $gradient-end 100%
    );;
  }

  .navbar__wrapper {
    width: 100%;
  }

  .navbar__top {
    display: flex;
    align-items: center;

    @include mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      height: 6rem;
      padding: 0.5rem 1.5rem;
    }
  }

  .navbar__logo,
  .navbar__img {
    height: auto;

    img {
      width: 100%;
    }
  }

  .navbar__logo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    }


  .desktopLogo {
    display: block;
    width: 200px;
  }

  .mobileLogo {
    display: none;
  }

  @include mobile {
    .navbar__logo {
      width: 100px;
    }

    .desktopLogo {
      display: none;
    }

    .mobileLogo {
      display: block;
    }
  }

  .navbar__hamburgericon {
    display: none;
    height: 2rem;
    width: 2rem;

    @include mobile {
      display: inline;
    }
  }

  .navbar__inner {
    @include mobile{
      display: none;
    }

  }

  .navbar__innerOpen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    min-height: calc(100dvh - 5rem);
    padding: 2rem 1.5rem 0 1.5rem;
  }

  ul {
    list-style: none;
    padding-right: 1rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  .activeMenuLink,
  .defaultMenuLink {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
    padding: 0.9rem 1rem;
    border-radius: 10px;

    text-decoration: none;
    box-sizing: border-box;
  }

  .activeMenuLink {
    color: orange;
    background-color: $primary-color;
  }

  .defaultMenuLink {
    color: $text-primary-color;
    background-color: transparent;
  }

  .navbar__img {
    display: flex;
    justify-content: center;
    padding: 4rem 0 3rem 0;

    img{
      width: 170px;
    }

    @include mobile {
      display: none;
    }
  }

  .navbar__logout {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
    padding: 0.9rem 1.5rem 0.9rem 1rem;
    border-radius: 10px;

    font-size: 1.125rem;

    &:hover {
      color: orange;
      background-color: $primary-color;
    }
  }
}

