@use "../../styles/variables" as *;

.bookcard {
  width: 300px;

  background: $primary-color;
  box-shadow: $shadow-soft;
  border-radius: 1rem;


  padding: 4rem;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 1rem;

    h3{
      display: flex;
      align-items: flex-end;
      min-height: 40px;
    }

  }

&__imgWrapper {
  height: 280px;

  display: flex;
  align-items: center;
  justify-content: center;
}

  &__img {
    width: 172px;
    height: 265px;
    object-fit: cover;
  }

  &__status {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
  }

  &__statusAvailable {
    color: $success-color;
  }

  &__statusUnavailable {
    color: $warning-color;
  }

  &__statusDot {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: currentColor;
    flex-shrink: 0;
  }

}