@use '../../styles/_variables' as *;

.addBookForm {
  padding: 3rem 20rem 3rem 3rem;
  border-radius: 1rem;
  box-shadow: $shadow-soft;

  background-color: $primary-color;

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 2rem;
    border: none;
  }


  &__legend {
    padding: 0 0.25rem;

    font-size: 1.25rem;
    font-weight: 700;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-size: 0.9rem;
      font-weight: 700;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.9rem 1.25rem;

      font: inherit;
      color: inherit;
      background-color: $primary-color;

      border: 1px solid #d8cdc7;
      border-radius: 0.75rem;

    }

    textarea {
      min-height: 12rem;
      padding-bottom: 2.5rem;
      resize: vertical;
    }
  }

  &__textareaWrapper {
    position: relative;
  }

  &__textarea {
    position: absolute;
    right: 1rem;
    bottom: 0.75rem;

    color: #6f625d;
    font-size: 0.75rem;
  }

}
