@use './styles/variables' as *;

/*////////////////////////
    Table of Contents
    1. Global Styles
///////////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: $text-primary-color;
  background-color: $background-color;
}

h1 {
  font-family:$font-heading;
  font-size: $font-size-h1;
  font-weight: 700;
}

h2 {
  font-size: $font-size-h2;
  font-weight: 700;
}

h3 {
  font-size: $font-size-h3;
  font-weight: 700;
}

h5 {
  font-size: $font-size-h5;
}

p {
  font-size: $font-size-p;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

button {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}